 body,html{
  padding:0;
  margin:0;
  background-color: #ffffff;
}

*{
  font-size: 20px;
  font-family: 'Lucida Sans';
  box-sizing: border-box;
}

/*backgroudcolor for nav*/

nav{
  background-color: #027878;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

nav a{
<<<<<<< HEAD
<<<<<<< HEAD
  color: #FDB632;
=======
  color: #ffffff;
>>>>>>> dev-jonte
=======
  color: #ffffff;
>>>>>>> fd8cbb3bda25e005017a3e3e33c51a952fe634b4
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

#logo{
  margin-left: 25px;
  font-family:'Chicle';
  font-size: 40px;
  color: #FDB632;
}

.navbar-right{
  padding-right: 25px;
  float: right;
  margin-top:12px;
}

.container {
  display: inline-grid;
  grid-template-columns: 10% 60% 20%;
  grid-template-rows: auto;
  width: 100%;
  margin: auto;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  color: #FDB632;
=======
=======
  grid-column-gap: 20px;
  grid-row-gap: 20px;
>>>>>>> dev-jonte
  /* color: #FDB632; */
>>>>>>> dev-jonte
=======
  color: #FDB632;
>>>>>>> fd8cbb3bda25e005017a3e3e33c51a952fe634b4
}

.jumbotron{
  margin-top: 5%;
  grid-column: 2/4;
  width: 100%;
  height: 250px;
  background-position: bottom;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=352d3cdaa50b65c4adf76c1d4dd4ca7e&auto=format&fit=crop&w=750&q=80');
}
<<<<<<< HEAD

#content-header{
  text-align: center;
  color:#FDB632;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
=======
.main-container{
  grid-row: 2;
  width: auto;
  grid-column: 2/3;
  background: #f3f3f3;
  height:auto;
}
.box{
  width: 30%;
  height:400px;
  background: red;
}
.news{
  width: 500px;
  border: 1px solid grey;
  margin: 10px 0;
  margin-left: 10px;
>>>>>>> dev-jonte
}
.side-content{
  background: #f3f3f3;
  grid-row: 2;
  grid-column: 3;
  width: auto;
  height: 300px;
}

<<<<<<< HEAD
.box {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 1%;
=======
  justify-content:space-around;
  width: 75%;
  border: 1px solid black;
  margin: auto;
  text-align: center;
>>>>>>> fd8cbb3bda25e005017a3e3e33c51a952fe634b4
  text-decoration: none;
<<<<<<< HEAD
  color: #FDB632;
  background-color: #027878;
<<<<<<< HEAD
  /* margin-top: 5%; */
=======
  color: #000000;
  margin-top: 5%;
  box-shadow: 2px 2px 10px #888888;
}
.box-header{
  width: 45%;
  height: auto;
  background: #f9f9f9;
}
.box-header h2{
  text-align: center;
>>>>>>> dev-jonte
=======
  margin-top: 5%;
}
.box-img{
  padding-top: 8px;
  min-width: 300px;
}
.box-header{
  margin: 10px 25px;
}
.box-content{
  text-align: left;
>>>>>>> fd8cbb3bda25e005017a3e3e33c51a952fe634b4
}
.thumbnail {
  padding: 10px;
  max-width: 95%;
  height: auto;
<<<<<<< HEAD
  width: calc(100% - 10px);
  margin: 5px;
  }
.text-content{
=======
.interview{
  grid-column: 2/3;
  height: auto;
  grid-row:3;
  background: yellow;
}
.interview h3{
>>>>>>> dev-jonte
  margin-left: 10px;
}
<<<<<<< HEAD
=======
}

>>>>>>> fd8cbb3bda25e005017a3e3e33c51a952fe634b4
#clear-fix {
    clear: both;
    content: "";
    display: grid;
=======
.flex-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px;
>>>>>>> dev-jonte
}
.box-img{
  width: 100%;
  height: 40%;
  background: white;
}
<<<<<<< HEAD

footer p {
  font-size: 12px;
  margin-bottom: 0;
}
<<<<<<< HEAD
@media screen and (max-width: 700px){
  .box{
      flex-direction: column;
  }
  .text-content{
    padding: 10px;
    border: none;
    width: 100%;
  }
  .box-header{
=======
@media screen and (max-width: 900px){
  .box{
    flex-direction: column;
    width:100%;
  }
  .box-content{
    padding: 10px;
  }
}
@media screen and (max-width: 600px){
  .container{
>>>>>>> fd8cbb3bda25e005017a3e3e33c51a952fe634b4
    width: 100%;
  }
=======
.box-content{
  width: 100%;
  height: 60%;
  background: lightgrey;
  padding: 10px;
}
footer{
  margin-top: 50;
  grid-row: 4;
  grid-column: 1/5;
  height: 70px;
  background: grey;
>>>>>>> dev-jonte
}
