body,html{
 padding:0;
 margin:0;
 background-color: #ffffff;
}

*{
 font-size: 20px;
 font-family: 'Lucida Sans';
 box-sizing: border-box;
}

/*backgroudcolor for nav*/

nav{
 background-color: #027878;
}

nav a{
 color: #ffffff;
 text-decoration: none;
 display: inline-block;
 padding: 10px;
}

#logo{
 margin-left: 25px;
 font-family:'Chicle';
 font-size: 40px;
 color: #FDB632;
}

.navbar-right{
 padding-right: 25px;
 float: right;
 margin-top:12px;
}

.container {
 display: inline-grid;
 grid-template-columns: 10% 60% 20%;
 grid-template-rows: auto;
 width: 100%;
 margin: auto;
 grid-column-gap: 20px;
 grid-row-gap: 20px;
 /* color: #FDB632; */
}

.jumbotron{
 margin-top: 5%;
 grid-column: 2/4;
 width: 100%;
 height: 250px;
 background-position: bottom;
 background-size:cover;
 background-repeat: no-repeat;
 background-image: url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=352d3cdaa50b65c4adf76c1d4dd4ca7e&auto=format&fit=crop&w=750&q=80');
}
.main-container{
 grid-row: 2;
 width: auto;
 grid-column: 2/3;
 background: #f3f3f3;
 height:auto;
}
.box{
 width: 30%;
 height:400px;
 background: red;
}
.news{
 width: 500px;
 border: 1px solid grey;
 margin: 10px 0;
 margin-left: 10px;
}
.side-content{
 background: #f3f3f3;
 grid-row: 2;
 grid-column: 3;
 width: auto;
 height: 300px;
}

.interview{
 grid-column: 2/3;
 height: auto;
 grid-row:3;
 background: yellow;
}
.interview h3{
 margin-left: 10px;
}
.flex-content{
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 margin: 10px;
}
.box-img{
 width: 100%;
 height: 40%;
 background: white;
}
.box-content{
 width: 100%;
 height: 60%;
 background: lightgrey;
 padding: 10px;
}
footer{
 margin-top: 50;
 grid-row: 4;
 grid-column: 1/5;
 height: 70px;
 background: grey;
}
