 body,html{
  padding:0;
  margin:0;
  background-color: #ffffff;
}

*{
  font-size: 20px;
  font-family: 'Lucida Sans';
  box-sizing: border-box;
}

/*backgroudcolor for nav*/

nav{
  background-color: #027878;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

nav a{
  color: #FDB632;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

#logo{
  margin-left: 25px;
  font-family:'Chicle';
  font-size: 40px;
  color: #FDB632;
}

.navbar-right{
  padding-right: 25px;
  float: right;
  margin-top:12px;
}

.container {
  width: 80%;
  margin: auto;
  color: #FDB632;
}

.jumbotron{
  margin-top: 5%;
  width: 100%;
  height: 200px;
  background-position: bottom;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=352d3cdaa50b65c4adf76c1d4dd4ca7e&auto=format&fit=crop&w=750&q=80');
}

#content-header{
  text-align: center;
  color:#FDB632;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.box {
  float:left;
  width: 31%;
  border: 1px solid black;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  color: #FDB632;
  background-color: #027878;
  /* margin-top: 5%; */
}

.thumbnail {
  height: auto;
  width: 98%;
  clear:both;
  margin-top: 2px;
  }

#clear-fix {
    clear: both;
    content: "";
    display: grid;
}

footer {
  background-color: #027878;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 2%;
}

footer p {
  font-size: 12px;
  margin-bottom: 0;
}
